/* timney.CSS  */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */


html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.tim-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.tim-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.tim-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.tim-table,.tim-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.tim-table-all{border:1px solid #ccc}
.tim-bordered tr,.tim-table-all tr{border-bottom:1px solid #ddd}.tim-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.tim-table-all tr:nth-child(odd){background-color:#fff}.tim-table-all tr:nth-child(even){background-color:#f1f1f1}
.tim-hoverable tbody tr:hover,.tim-ul.tim-hoverable li:hover{background-color:#ccc}.tim-centered tr th,.tim-centered tr td{text-align:center}
.tim-table td,.tim-table th,.tim-table-all td,.tim-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.tim-table th:first-child,.tim-table td:first-child,.tim-table-all th:first-child,.tim-table-all td:first-child{padding-left:16px}
.tim-btn,.tim-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.tim-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.tim-btn,.tim-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.tim-disabled,.tim-btn:disabled,.tim-button:disabled{cursor:not-allowed;opacity:0.3}.tim-disabled *,:disabled *{pointer-events:none}
.tim-btn.tim-disabled:hover,.tim-btn:disabled:hover{box-shadow:none}
.tim-badge,.tim-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.tim-badge{border-radius:50%}
.tim-ul{list-style-type:none;padding:0;margin:0}.tim-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.tim-ul li:last-child{border-bottom:none}
.tim-tooltip,.tim-display-container{position:relative}.tim-tooltip .tim-text{display:none}.tim-tooltip:hover .tim-text{display:inline-block}
.tim-ripple:active{opacity:0.5}.tim-ripple{transition:opacity 0s}
.tim-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.tim-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}

.tim-dropdown-click,.tim-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.tim-dropdown-hover:hover .tim-dropdown-content{display:block;z-index:1}
.tim-dropdown-hover:first-child,.tim-dropdown-click:hover{background-color:#ccc;color:#000}
.tim-dropdown-hover:hover > .tim-button:first-child,.tim-dropdown-click:hover > .tim-button:first-child{background-color:#ccc;color:#000}


.tim-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.tim-check,.tim-radio{width:24px;height:24px;position:relative;top:6px}
.tim-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}


.tim-bar-block .tim-dropdown-hover,.tim-bar-block .tim-dropdown-click{width:100%}
.tim-bar-block .tim-dropdown-hover .tim-dropdown-content,.tim-bar-block .tim-dropdown-click .tim-dropdown-content{min-width:100%}
.tim-bar-block .tim-dropdown-hover .tim-button,.tim-bar-block .tim-dropdown-click .tim-button{width:100%;text-align:left;padding:8px 16px}

.tim-main,#main{transition:margin-left .4s}
.tim-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.tim-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.tim-bar{width:100%;overflow:hidden}.tim-center .tim-bar{display:inline-block;width:auto}
.tim-bar .tim-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}

.tim-bar .tim-dropdown-hover,.tim-bar .tim-dropdown-click{position:static;float:left}

.tim-bar .tim-button{white-space:normal}
.tim-bar-block .tim-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.tim-bar-block.tim-center .tim-bar-item{text-align:center}.tim-block{display:block;width:100%}
.tim-responsive{display:block;overflow-x:auto}
.tim-container:after,.tim-container:before,.tim-panel:after,.tim-panel:before,.tim-row:after,.tim-row:before,.tim-row-padding:after,.tim-row-padding:before,
.tim-cell-row:before,.tim-cell-row:after,.tim-clear:after,.tim-clear:before,.tim-bar:before,.tim-bar:after{content:"";display:table;clear:both}
.tim-col,.tim-half,.tim-third,.tim-twothird,.tim-threequarter,.tim-quarter{float:left;width:100%}
.tim-col.s1{width:8.33333%}.tim-col.s2{width:16.66666%}.tim-col.s3{width:24.99999%}.tim-col.s4{width:33.33333%}
.tim-col.s5{width:41.66666%}.tim-col.s6{width:49.99999%}.tim-col.s7{width:58.33333%}.tim-col.s8{width:66.66666%}
.tim-col.s9{width:74.99999%}.tim-col.s10{width:83.33333%}.tim-col.s11{width:91.66666%}.tim-col.s12{width:99.99999%}
@media (min-width:601px){.tim-col.m1{width:8.33333%}.tim-col.m2{width:16.66666%}.tim-col.m3,.tim-quarter{width:24.99999%}.tim-col.m4,.tim-third{width:33.33333%}
.tim-col.m5{width:41.66666%}.tim-col.m6,.tim-half{width:49.99999%}.tim-col.m7{width:58.33333%}.tim-col.m8,.tim-twothird{width:66.66666%}
.tim-col.m9,.tim-threequarter{width:74.99999%}.tim-col.m10{width:83.33333%}.tim-col.m11{width:91.66666%}.tim-col.m12{width:99.99999%}}
@media (min-width:993px){.tim-col.l1{width:8.33333%}.tim-col.l2{width:16.66666%}.tim-col.l3{width:24.99999%}.tim-col.l4{width:33.33333%}
.tim-col.l5{width:41.66666%}.tim-col.l6{width:49.99999%}.tim-col.l7{width:58.33333%}.tim-col.l8{width:66.66666%}
.tim-col.l9{width:74.99999%}.tim-col.l10{width:83.33333%}.tim-col.l11{width:91.66666%}.tim-col.l12{width:99.99999%}}
.tim-content{max-width:980px;margin:auto}.tim-rest{overflow:hidden}
.tim-cell-row{display:table;width:100%}.tim-cell{display:table-cell}
.tim-cell-top{vertical-align:top}.tim-cell-middle{vertical-align:middle}.tim-cell-bottom{vertical-align:bottom}
.tim-hide{display:none!important}.tim-show-block,.tim-show{display:block!important}.tim-show-inline-block{display:inline-block!important}
@media (max-width:600px){.tim-modal-content{margin:0 10px;width:auto!important}.tim-modal{padding-top:30px}

.tim-dropdown-hover.tim-mobile .tim-dropdown-content,.tim-dropdown-click.tim-mobile .tim-dropdown-content{position:relative}

.tim-hide-small{display:none!important}.tim-mobile{display:block;width:100%!important}.tim-bar-item.tim-mobile,.tim-dropdown-hover.tim-mobile,.tim-dropdown-click.tim-mobile{text-align:center}
.tim-dropdown-hover.tim-mobile,.tim-dropdown-hover.tim-mobile .tim-btn,.tim-dropdown-hover.tim-mobile .tim-button,.tim-dropdown-click.tim-mobile,.tim-dropdown-click.tim-mobile .tim-btn,.tim-dropdown-click.tim-mobile .tim-button{width:100%}}


@media (max-width:768px){.tim-modal-content{width:500px}.tim-modal{padding-top:50px}}
@media (min-width:993px){.tim-modal-content{width:900px}.tim-hide-large{display:none!important}.tim-sidebar.tim-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.tim-hide-medium{display:none!important}}
@media (max-width:992px){.tim-sidebar.tim-collapse{display:none}.tim-main{margin-left:0!important;margin-right:0!important}}
.tim-top,.tim-bottom{position:fixed;width:100%;z-index:1}.tim-top{top:0}.tim-bottom{bottom:0}
.tim-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.tim-display-topleft{position:absolute;left:0;top:0}.tim-display-topright{position:absolute;right:0;top:0}
.tim-display-bottomleft{position:absolute;left:0;bottom:0}.tim-display-bottomright{position:absolute;right:0;bottom:0}
.tim-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.tim-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.tim-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.tim-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tim-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tim-display-container:hover .tim-display-hover{display:block}.tim-display-container:hover span.tim-display-hover{display:inline-block}.tim-display-hover{display:none}
.tim-display-position{position:absolute}
.tim-circle{border-radius:50%}
.tim-round-small{border-radius:2px}.tim-round,.tim-round-medium{border-radius:4px}.tim-round-large{border-radius:8px}.tim-round-xlarge{border-radius:16px}.tim-round-xxlarge{border-radius:32px}
.tim-row-padding,.tim-row-padding>.tim-half,.tim-row-padding>.tim-third,.tim-row-padding>.tim-twothird,.tim-row-padding>.tim-threequarter,.tim-row-padding>.tim-quarter,.tim-row-padding>.tim-col{padding:0 8px}

.tim-container,.tim-panel{padding:0.01em 16px}.tim-panel{margin-top:16px;margin-bottom:16px}


.tim-code,.tim-codespan{font-family:Consolas,"courier new";font-size:16px}
.tim-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.tim-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.tim-card,.tim-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.tim-card-4,.tim-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.tim-spin{animation:tim-spin 2s infinite linear}@keyframes tim-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.tim-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.tim-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.tim-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.tim-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tim-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.tim-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.tim-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.tim-animate-input{transition:width 0.4s ease-in-out}.tim-animate-input:focus{width:100%!important}
.tim-opacity,.tim-hover-opacity:hover{opacity:0.60}.tim-opacity-off,.tim-hover-opacity-off:hover{opacity:1}
.tim-opacity-max{opacity:0.25}.tim-opacity-min{opacity:0.75}
.tim-greyscale-max,.tim-grayscale-max,.tim-hover-greyscale:hover,.tim-hover-grayscale:hover{filter:grayscale(100%)}
.tim-greyscale,.tim-grayscale{filter:grayscale(75%)}.tim-greyscale-min,.tim-grayscale-min{filter:grayscale(50%)}
.tim-sepia{filter:sepia(75%)}.tim-sepia-max,.tim-hover-sepia:hover{filter:sepia(100%)}.tim-sepia-min{filter:sepia(50%)}
.tim-tiny{font-size:10px!important}.tim-small{font-size:12px!important}.tim-medium{font-size:15px!important}.tim-large{font-size:18px!important}
.tim-xlarge{font-size:24px!important}.tim-xxlarge{font-size:36px!important}.tim-xxxlarge{font-size:48px!important}.tim-jumbo{font-size:64px!important}
.tim-left-align{text-align:left!important}.tim-right-align{text-align:right!important}.tim-justify{text-align:justify!important}.tim-center{text-align:center!important}
.tim-border-0{border:0!important}.tim-border{border:1px solid #ccc!important}
.tim-border-top{border-top:1px solid #ccc!important}.tim-border-bottom{border-bottom:1px solid #ccc!important}
.tim-border-left{border-left:1px solid #ccc!important}.tim-border-right{border-right:1px solid #ccc!important}
.tim-topbar{border-top:6px solid #ccc!important}.tim-bottombar{border-bottom:6px solid #ccc!important}
.tim-leftbar{border-left:6px solid #ccc!important}.tim-rightbar{border-right:6px solid #ccc!important}
.tim-section,.tim-code{margin-top:16px!important;margin-bottom:16px!important}
.tim-margin{margin:16px!important}.tim-margin-top{margin-top:16px!important}.tim-margin-bottom{margin-bottom:16px!important}
.tim-margin-left{margin-left:16px!important}.tim-margin-right{margin-right:16px!important}
.tim-padding-small{padding:4px 8px!important}.tim-padding{padding:8px 16px!important}.tim-padding-large{padding:12px 24px!important}
.tim-padding-16{padding-top:16px!important;padding-bottom:16px!important}.tim-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.tim-padding-32{padding-top:32px!important;padding-bottom:32px!important}.tim-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.tim-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.tim-left{float:left!important}.tim-right{float:right!important}

.tim-button:hover{color:#000!important;background-color:#ccc!important}

.tim-transparent,.tim-hover-none:hover{background-color:transparent!important}
.tim-hover-none:hover{box-shadow:none!important}
/* Colors */
.tim-amber,.tim-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.tim-aqua,.tim-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.tim-blue,.tim-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.tim-light-blue,.tim-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.tim-brown,.tim-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.tim-cyan,.tim-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.tim-blue-grey,.tim-hover-blue-grey:hover,.tim-blue-gray,.tim-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.tim-green,.tim-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.tim-light-green,.tim-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.tim-indigo,.tim-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.tim-khaki,.tim-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.tim-lime,.tim-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.tim-orange,.tim-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.tim-deep-orange,.tim-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.tim-pink,.tim-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.tim-purple,.tim-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.tim-deep-purple,.tim-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.tim-red,.tim-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.tim-sand,.tim-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.tim-teal,.tim-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.tim-yellow,.tim-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.tim-white,.tim-hover-white:hover{color:#000!important;background-color:#fff!important}
.tim-black,.tim-hover-black:hover{color:#fff!important;background-color:#000!important}
.tim-grey,.tim-hover-grey:hover,.tim-gray,.tim-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.tim-light-grey,.tim-hover-light-grey:hover,.tim-light-gray,.tim-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.tim-dark-grey,.tim-hover-dark-grey:hover,.tim-dark-gray,.tim-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.tim-pale-red,.tim-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.tim-pale-green,.tim-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.tim-pale-yellow,.tim-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.tim-pale-blue,.tim-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.tim-text-amber,.tim-hover-text-amber:hover{color:#ffc107!important}
.tim-text-aqua,.tim-hover-text-aqua:hover{color:#00ffff!important}
.tim-text-blue,.tim-hover-text-blue:hover{color:#2196F3!important}
.tim-text-light-blue,.tim-hover-text-light-blue:hover{color:#87CEEB!important}
.tim-text-brown,.tim-hover-text-brown:hover{color:#795548!important}
.tim-text-cyan,.tim-hover-text-cyan:hover{color:#00bcd4!important}
.tim-text-blue-grey,.tim-hover-text-blue-grey:hover,.tim-text-blue-gray,.tim-hover-text-blue-gray:hover{color:#607d8b!important}
.tim-text-green,.tim-hover-text-green:hover{color:#4CAF50!important}
.tim-text-light-green,.tim-hover-text-light-green:hover{color:#8bc34a!important}
.tim-text-indigo,.tim-hover-text-indigo:hover{color:#3f51b5!important}
.tim-text-khaki,.tim-hover-text-khaki:hover{color:#b4aa50!important}
.tim-text-lime,.tim-hover-text-lime:hover{color:#cddc39!important}
.tim-text-orange,.tim-hover-text-orange:hover{color:#ff9800!important}
.tim-text-deep-orange,.tim-hover-text-deep-orange:hover{color:#ff5722!important}
.tim-text-pink,.tim-hover-text-pink:hover{color:#e91e63!important}
.tim-text-purple,.tim-hover-text-purple:hover{color:#9c27b0!important}
.tim-text-deep-purple,.tim-hover-text-deep-purple:hover{color:#673ab7!important}
.tim-text-red,.tim-hover-text-red:hover{color:#f44336!important}
.tim-text-sand,.tim-hover-text-sand:hover{color:#fdf5e6!important}
.tim-text-teal,.tim-hover-text-teal:hover{color:#009688!important}
.tim-text-yellow,.tim-hover-text-yellow:hover{color:#d2be0e!important}
.tim-text-white,.tim-hover-text-white:hover{color:#fff!important}
.tim-text-black,.tim-hover-text-black:hover{color:#000!important}
.tim-text-grey,.tim-hover-text-grey:hover,.tim-text-gray,.tim-hover-text-gray:hover{color:#757575!important}
.tim-text-light-grey,.tim-hover-text-light-grey:hover,.tim-text-light-gray,.tim-hover-text-light-gray:hover{color:#f1f1f1!important}
.tim-text-dark-grey,.tim-hover-text-dark-grey:hover,.tim-text-dark-gray,.tim-hover-text-dark-gray:hover{color:#3a3a3a!important}
.tim-border-amber,.tim-hover-border-amber:hover{border-color:#ffc107!important}
.tim-border-aqua,.tim-hover-border-aqua:hover{border-color:#00ffff!important}
.tim-border-blue,.tim-hover-border-blue:hover{border-color:#2196F3!important}
.tim-border-light-blue,.tim-hover-border-light-blue:hover{border-color:#87CEEB!important}
.tim-border-brown,.tim-hover-border-brown:hover{border-color:#795548!important}
.tim-border-cyan,.tim-hover-border-cyan:hover{border-color:#00bcd4!important}
.tim-border-blue-grey,.tim-hover-border-blue-grey:hover,.tim-border-blue-gray,.tim-hover-border-blue-gray:hover{border-color:#607d8b!important}
.tim-border-green,.tim-hover-border-green:hover{border-color:#4CAF50!important}
.tim-border-light-green,.tim-hover-border-light-green:hover{border-color:#8bc34a!important}
.tim-border-indigo,.tim-hover-border-indigo:hover{border-color:#3f51b5!important}
.tim-border-khaki,.tim-hover-border-khaki:hover{border-color:#f0e68c!important}
.tim-border-lime,.tim-hover-border-lime:hover{border-color:#cddc39!important}
.tim-border-orange,.tim-hover-border-orange:hover{border-color:#ff9800!important}
.tim-border-deep-orange,.tim-hover-border-deep-orange:hover{border-color:#ff5722!important}
.tim-border-pink,.tim-hover-border-pink:hover{border-color:#e91e63!important}
.tim-border-purple,.tim-hover-border-purple:hover{border-color:#9c27b0!important}
.tim-border-deep-purple,.tim-hover-border-deep-purple:hover{border-color:#673ab7!important}
.tim-border-red,.tim-hover-border-red:hover{border-color:#f44336!important}
.tim-border-sand,.tim-hover-border-sand:hover{border-color:#fdf5e6!important}
.tim-border-teal,.tim-hover-border-teal:hover{border-color:#009688!important}
.tim-border-yellow,.tim-hover-border-yellow:hover{border-color:#ffeb3b!important}
.tim-border-white,.tim-hover-border-white:hover{border-color:#fff!important}
.tim-border-black,.tim-hover-border-black:hover{border-color:#000!important}
.tim-border-grey,.tim-hover-border-grey:hover,.tim-border-gray,.tim-hover-border-gray:hover{border-color:#9e9e9e!important}
.tim-border-light-grey,.tim-hover-border-light-grey:hover,.tim-border-light-gray,.tim-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.tim-border-dark-grey,.tim-hover-border-dark-grey:hover,.tim-border-dark-gray,.tim-hover-border-dark-gray:hover{border-color:#616161!important}
.tim-border-pale-red,.tim-hover-border-pale-red:hover{border-color:#ffe7e7!important}.tim-border-pale-green,.tim-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.tim-border-pale-yellow,.tim-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.tim-border-pale-blue,.tim-hover-border-pale-blue:hover{border-color:#e7ffff!important}